<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>Volley</span>ball</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <a *ngIf="!user" [routerLink]="['/login']" class="al-logo float-right" title="Login">
    <span style="color:white;"><i class="fa fa-power-off"></i></span>
  </a>

  <div *ngIf="user" class="user-profile clearfix" >
    <div class="">
      <div class="dropdown al-user-profile">
        <a *ngIf="user.profile_picture" class="profile-toggle-link dropdown-toggle float-right" id="user-profile-dd1" data-toggle="dropdown" aria-expanded="false">
          <img *ngIf="user.profile_picture" src="{{ user.profile_picture}}">
        </a>
        <a *ngIf="!user.profile_picture" class="profile-toggle-link dropdown-toggle float-right" id="user-profile-dd2" data-toggle="dropdown" aria-expanded="false"
          style="font-size:24px;   margin-top: 8px; color:white;">
          <i *ngIf="!user.profile_picture" class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
          <a class="dropdown-item" (click)="logout()" class="signout"><i class="fa fa-power-off"></i>Sign out</a>
        </div>
      </div>
    </div>
  </div>
</div>
