@import '../../../theme/sass/conf/conf';

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0 0 -1px 0;
    padding-left: 0px;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top:10px;
    list-style: none;
    position: relative;
    &:hover {
      background: linear-gradient(90deg,hsla(0,0%,100%,.3) 0,hsla(0,0%,100%,0));
    }
  }
  .active{
      background: linear-gradient(90deg,hsla(0,0%,100%,.3) 0,hsla(0,0%,100%,0));
  }
}



// /////////////////////////////////////////////////

.feed-message {  $text-message-color: $content-text;
  $video-message-color: $danger;
  $image-message-color: $success;
  $geo-message-color: $primary;
  padding: 10px 0 ;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
  &:first-child {
    padding-top: 0;
  }
}


.dark-modal .modal-content {
     background-color: #292b2c;
     color: white;
}
.dark-modal .close {
     color: white;
}
